if (req.http.X-Blackfire-Query && req.http.Fastly-Client-IP ~ {{ acl }}) {
  if (req.esi_level > 0) {
    # ESI request should not be included in the profile.
    # Instead you should profile them separately, each one
    # in their dedicated profile.
    # Removing the Blackfire header avoids to trigger the profiling.
    # Not returning let it go through your usual workflow as a regular
    # ESI request without distinction.
    unset req.http.X-Blackfire-Query;
  } else {
    set req.http.X-Pass = "1";
  }
}
